@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .test {
    @apply bg-gray-500;
  }
  .btn {
    @apply hover:scale-105 hover:shadow-lg active:scale-95 transition-all duration-150;
  }
  .btn-hover {
    @apply hover:scale-105 hover:shadow-lg transition-all duration-150;
  }
  .btn-active {
    @apply active:scale-95 transition-all duration-150;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
